{{#models}}
  {{#model}}
      /// <reference path="{{{classname}}}.ts" />
      export * from './{{{classname}}}';
  {{/model}}
{{/models}}

{{#apiInfo}}
  {{#apis}}
    {{#operations}}
        /// <reference path="{{classname}}.ts" />
        export * from './{{classname}}';
    {{/operations}}
  {{/apis}}
{{/apiInfo}}
